{% extends 'base.html' %}

{% block content %}

<nav>
    <ul>
        <li><a href="{% url 'home' %}">AHABANZA</a></li>
        <li><a href="{% url 'submit_employee' %}">ABAKOZI</a></li>
        <li><a href="{% url 'submit_employer' %}">ABAKORESHA</a></li>
        <li><a href="{% url 'view_employees' %}">REBA UMUKOZI</a></li>
        <li><a href="{% url 'view_employers' %}">REBA ABAKORESHA</a></li>
        <li><a href="{% url 'about' %}">IBYO DUKORA</a></li>
    </ul>
    <div>
        <h1> ABAKORESHA </h1>
        <h3> AHABANZA // ABAKORESHA</h3> 
    </div>
</nav>

<section class="card-container">
    <div class="card">
        <img src="{% static 'images/charli.jpeg' %}" alt="Sample Image">
    </div>
    <div class="card">
        <h1>Ibyo ukeneye nk’umukoresha.</h1>
        <h2>Shyigikira abakozi bawe n'ibisubizo by'ubukoresha bihuye n'ibikenewe by'ikigo cyawe</h2>
        <p> 
        Sura serivisi zoroheje z'ubukoresha zateguwe kugira ngo zigufashe kubona impano zihambaye zihuje n'icyerekezo cy'ikigo cyawe...
        </p>
    </div>
</section>

<div class="container">
    <h1>Tanga Amakuru y’Umukoresha</h1>

    {% if messages %}
        {% for message in messages %}
            <div class="message">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
</div>

<footer>
    <div class="contact-info">
        <h1>Nimero</h1>
        <h3>Phone:+250793487065</h3>
        <h3>Email: murenzicharles24@gmail.com</h3>
        <p>&copy; 2024 JobLink - All Rights Reserved</p>
    </div>
    <div class="social-media">
        <h1>Imbuga Nkoranyambaga</h1>
        <ul>
            <li><a href="https://youtube.com/@murenzicharles" target="_blank">YouTube</a></li>
            <li><a href="https://www.instagram.com/murenzi893" target="_blank">Instagram</a></li>
        </ul>
    </div>
    <div class="visit-info">
        <h1>Dusure</h1>
        <h2>Kigali, Rwanda</h2>
    </div>
</footer>

{% endblock %}
