
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .form {
  margin: auto;
}

.form input, .form select, .form textarea {
  border-radius: 5px;
  border: 1px solid rgb(112, 22, 112);
  outline: none;
  background: none;
  padding: 5px;
  width: 100%;
}
    </style>
</head>
<body>


<div class="clearfix">
  <a class="btn info left" href="{% url 'calendar' %}?{{ prev_month }}"> Calendar </a>
</div>

<form method="post">

  <table class="form form-table">
    {% csrf_token %}
    {{form.as_p}}
    <!-- {{ form }} -->
    <tr><td colspan="2"><button type="submit" class="btn btn-info right"> Submit </button></td></tr>
  </table>
</form>

</body>
</html>